* {
  all: unset; // Unsets everything so you can style everything from scratch
}

.main-window {
  background-color: #201a0a;
  color: #b0b4bc;
  border-style: solid;
  border: 2px;
  border-radius: 0px;
  border-style: solid;
  border-color: #e2eaef;

  padding: 4px;

  font-family: "Jet Brains Mono";
  font-size: 30;
}

.state-inner {
  // color: #00b4bc;
  border-style: solid;
  border: 2px;
  border-radius: 8px;
  border-color: #a2aa7f;

  padding:  5px; 
  background-color: #aaaa3a;
  color: #aa00aa;
}

.state {
  /*
  border-style: solid;
  border: 2px;
  border-radius: 0px;
  border-style: solid;
  border-color: #a2aa7f;
  */

  // padding:  8px; 
  // color: #aa00aa;
}

$full-height: 1000px;
.bar {
  // TODO: figure out how to make this value based on precent of the screen
  min-height: $full-height;
}

.panel {
  // TODO: figure out how to make this value based on precent of the screen
  min-height: $full-height/3;
}


.dashboard {
  background-color: #1a2a3a;
  color: #b0b4bc;
  border-style: solid;
  border: 2px;
  border-radius: 0px;
  border-style: solid;
  border-color: #22aa7f;

  padding: 30px; 
}

// Styles on classes (see eww.yuck for more information)

scale trough highlight {
  all: unset;
  background-color: #a3aD6E;
  color: #a0f000;
  border-radius: 10px;
}

circular-progress {
  all: unset;
  background-color: #a3aD6E;
  color: #a0f000;
  border-radius: 10px;
}
 circular-progress {
  all: unset;
  background-color: #a3aD6E;
  color: #a0f000;
  border-radius: 10px;
}


scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 30px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.temp {
  background-color: #333333;
  border-radius: 5px;
}

.tempout {
  padding: 2px;
}

button {
  border: 2px;
  border-radius: 5px;
}
/*
button:hover {
  border-color: #bbbbbb;
  border-style: solid;
}
*/

.high {
  background-color: #bbbbbb;
  color: #333333;
  border: 2px;
  border-radius: 5px;
}

.tab {
  padding-right: 4px; 
  padding-left: 4px; 
  padding-top: 2px; 
  padding-bottom: 2px; 
}
.low {
  background-color: #201a0a;
  color: #bbbbbb;
}
